<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link href='./lib/fonts/fonts.css' rel="stylesheet"> -->
    <link href='./lib/fonts/material.css' rel="stylesheet">

    <link href="./lib/vuetify/vuetify-0.17.0.min.css" rel="stylesheet">
    <link href="./res/css/everything.css" rel="stylesheet">

    <title>EvaluateMe</title>
</head>

<body>
    <v-app id="app" v-cloak>

        <v-navigation-drawer light v-model="drawer" right absolute temporary app class="grey lighten-4">
            <v-toolbar flat dense class="blue">
                <v-list>
                    <v-list-tile>
                        <v-list-tile-title class="title">
                            <a href="/" class="white--text" style="text-decoration: none">EvaluateMe</a>
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-toolbar>
            <v-divider></v-divider>
            <v-list>
                <v-list-tile id="signout" @click="signOut();drawer = false">
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <a>Sign out</a>
                        </v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-icon>exit_to_app</v-icon>
                    </v-list-tile-action>
                </v-list-tile>
                <v-list-tile @click="passwordDialog = true;drawer = false">
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <a>Change password</a>
                        </v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-icon>mode_edit</v-icon>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>

        <v-toolbar class="blue" dense fixed>
            <v-toolbar-title>
                <a href="/" class="white--text" style="text-decoration: none">EvaluateMe</a>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon dark @click.stop="drawer = !drawer">
                <v-icon>settings</v-icon>
            </v-btn>
        </v-toolbar>

        <div class="ma-5"></div>

        <v-dialog v-model="passwordDialog" max-width="500px">
            <v-form>
                <v-card>
                    <v-card-text>
                        <v-container fluid>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-text-field name="pass" label="Old Password" v-model:password="oldPassword" :append-icon="e1 ? 'visibility' : 'visibility_off'"
                                        :append-icon-cb="() => (e1 = !e1)" :type="e1 ? 'password' : 'text'" :rules="passwordRules"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field name="pass" label="New Password" v-model:password="newPassword" :append-icon="e1 ? 'visibility' : 'visibility_off'"
                                        :append-icon-cb="() => (e1 = !e1)" :type="e1 ? 'password' : 'text'" :rules="passwordRules"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-layout row wrap>
                            <v-layout class="justify-center" sm12>
                                <v-btn @click="changePassword" class="green white--text">
                                    Save password
                                    <v-icon>save</v-icon>
                                </v-btn>
                            </v-layout>
                        </v-layout>
                    </v-card-actions>
                </v-card>
                <v-flex v-if="auth.message !== ''" @click="dismissAlert" :class="{'red': auth.hasErrors, 'green': !auth.hasErrors, 'text-xs-center': true}">
                    <v-btn flat>
                        <p :class="{'white--text': !auth.hasErrors}">{{ auth.message }}</p>
                    </v-btn>
                </v-flex>
            </v-form>
        </v-dialog>

        <v-container v-if="loadAuth" fill-height class="mb-5">
            <v-container>
                <v-form v-model="valid">
                    <v-flex sm8 offset-sm2 md6 offset-md3>
                        <v-card>
                            <v-card-text>
                                <div id="login" class="tab-pane fade in active register">
                                    <v-container fluid>
                                        <v-layout row wrap>
                                            <v-flex class="green--text">
                                                <v-layout class="justify-center">
                                                    <h1>Login</h1>
                                                </v-layout>
                                            </v-flex>

                                            <v-flex xs12>
                                                <v-text-field name="uname" label="Email" prepend-icon="email" v-model:email="auth.email" :rules="emailRules" @keyup.enter="newLogin"
                                                    single-line></v-text-field>
                                            </v-flex>

                                            <v-flex xs12>
                                                <v-text-field name="pass" label="Password" prepend-icon="work" v-model:password="auth.password" @keyup.enter="newLogin" single-line
                                                    :append-icon="e1 ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (e1 = !e1)"
                                                    :type="e1 ? 'password' : 'text'" :rules="passwordRules"></v-text-field>
                                            </v-flex>
                                            <v-flex class="text-xs-right">
                                                <a @click="forgotPassword">Forgot password?</a>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </div>
                            </v-card-text>
                            <v-card-actions class="pb-3">
                                <v-layout row wrap>
                                    <v-layout class="justify-center" sm12>
                                        <v-btn @click="newLogin" class="green white--text" :disabled="!valid">
                                            Login
                                            <v-icon>forward</v-icon>
                                        </v-btn>
                                    </v-layout>
                                </v-layout>
                            </v-card-actions>
                        </v-card>

                        <v-flex v-if="auth.message !== ''" @click="dismissAlert" :class="{'red': auth.hasErrors, 'green': !auth.hasErrors, 'text-xs-center': true}">
                            <v-btn flat>
                                <p :class="{'white--text': !auth.hasErrors}">{{ auth.message }}</p>
                            </v-btn>
                        </v-flex>
                    </v-flex>
                </v-form>
            </v-container>
        </v-container>

        <v-container v-else-if="isAuthenticated" id="content" class="container">

            <template v-if="auth.userName">
                <div class="text-xs-center">
                    <p class="body-1 ma-0">Welcome {{ auth.userName }}</p>
                    <p class="body-2 ma-0" v-if="auth.type">Your role: {{ auth.type }}</p>
                </div>
            </template>

            <div v-if="auth.user.emailVerified">
                <app-verified :auth="auth"></app-verified>
            </div>
            <div v-else>
                <v-container>
                    <v-container>
                        <v-card>
                            <v-card-text class="text-xs-center">
                                <p>The verification link is sent to your email : {{auth.user.email}}.</p>
                                <p>The email is probably in the junk folder, kindly mark as not junk.</p>
                                <p>Refresh this page after verification.</p>
                            </v-card-text>
                        </v-card>
                    </v-container>
                </v-container>
            </div>
        </v-container>

        <app-footer></app-footer>
    </v-app>

    <js>
        <!-- Libraries -->
        <script src="./lib/jquery/jquery-3.2.1.min.js"></script>
        <script src="./lib/vue/vue-2.5.0.min.js"></script>
        <script src="./lib/vuetify/vuetify-0.17.0.min.js"></script>

        <!-- Firebase -->
        <script src="./lib/firebase/firebase-4.6.0.min.js"></script>
        <script src="./firebase/config.js"></script>
        <script src="./firebase/functions.js"></script>

        <script>
            function newLogin() {
                app.login();
            };
        </script>

        <!-- Login's -->
        <script src="./components/login/app-field.js"></script>
        <script src="./components/login/app-container.js"></script>
        <script src="./components/login/app-login.js"></script>
        <script src="./components/login/app-forget-modal.js"></script>

        <!-- Dashboards -->
        <script src="./components/dashboards/app-admin.js"></script>
        <script src="./components/dashboards/app-advisor.js"></script>
        <script src="./components/dashboards/app-coordinator.js"></script>
        <script src="./components/dashboards/app-supervisor.js"></script>

        <!-- Common -->
        <script src="./components/vuetify-dashboard/app-option.js"></script>
        <script src="./components/vuetify-dashboard/app-dashboard.js"></script>
        <script src="./components/vuetify-dashboard/app-dashboard-no-container.js"></script>
        <script src="./components/vuetify-dashboard/app-footer.js"></script>
        <script src="./components/vuetify-dashboard/app-expandable.js"></script>

        <!-- Views -->
        <script src="./components/views/app-verified.js"></script>

        <!-- Vue main -->
        <script src="./res/js/app.js"></script>
    </js>

</body>

</html>