<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../lib/bootstrap/bootstrap.3.3.0.min.css" rel="stylesheet">
    <script src="./lib/jquery/jquery-3.2.1.min.js"></script>
    <link href="./css/index.css" rel="stylesheet">

    <title>EvaluateMe</title>
</head>

<body>
    <div id="app" v-cloak>
        <nav class="navbar bg-primary" style="margin-bottom:50px;border-radius: 0;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="brand" class="navbar-brand" href="/" style="color:white">EvaluateMe</a>
                </div>
                <ul class="nav navbar-nav navbar-right" v-if="isAuthenticated">
                    <li>
                        <a id="signout" href="#" @click="signOut" style="color:white">
                            Sign out
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div v-if="loadAuth" class="container">

            <div class="outer">
                <div class="middle">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="panel panel-success">
                                    <div class="panel-body">
                                        <div id="login" class="tab-pane fade in active register">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <h2 class="text-center" style="color: rgb(92, 184, 92);">
                                                        <strong> Login </strong>
                                                    </h2>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-user"></span>
                                                                    </div>
                                                                    <input v-model:email="auth.email" type="text" placeholder="Username" name="uname" class="form-control" @keydown.enter="newLogin">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-lock"></span>
                                                                    </div>
                                                                    <input v-model:password="auth.password" type="password" placeholder="Password" name="pass" class="form-control" @keydown.enter="newLogin">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="check" checked="checked"> Remember Me
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <a href="#forgot" data-toggle="modal"> Forgot Password? </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr> -->
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                                            <button type="submit" @click="newLogin" class="btn btn-success btn-block btn-lg"> Login </button>
                                                            <div v-if="auth.message !== ''" class="alert" role="alert" :class="{'alert-danger': auth.hasErrors, 'alert-success': !auth.hasErrors}">
                                                                <button @click="dismissAlert" type="button" class="close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                                <p>{{ auth.message }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div v-if="isAuthenticated" id="content" class="container">

            <div v-if="auth.message !== ''">
                <div class="alert" role="alert" :class="{'alert-danger': auth.hasErrors, 'alert-success': !auth.hasErrors}">
                    <button @click="dismissAlert" type="button" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <p>
                        <strong>{{auth.message}}</strong>
                    </p>
                </div>
            </div>

            <div v-if="auth.type == 'Admin'">
                <app-admin></app-admin>
            </div>

            <div v-else-if="auth.type == 'Coordinator'">
                <app-coordinator></app-coordinator>
            </div>

            <div v-else-if="auth.type == 'Advisor'">
                <app-advisor></app-advisor>
            </div>

            <div v-else-if="auth.type == 'Supervisor'">
                <app-supervisor></app-supervisor>
            </div>

            <div v-else-if="auth.type == 'disabled'">
                <p>Your account is disabled, contact system's admin!</p>
            </div>

        </div>

        <div v-if="!loaded">
            <p style="text-align:center">Loading!</p>
            <!-- //TBD: more visual loading screen -->
        </div>
        <div style="margin:75px"></div>
        <footer class="footer navbar-fixed-bottom" style="background-color:#428bca !important; text-align: center;margin-top:100px">
            <p style="padding: 10px;color: white;">EvaluateMe © 2017</p>
        </footer>
    </div>


    <script src="../lib/vue/vue-2.5.0.min.js"></script>

    <!-- Firebase -->
    <script src="../lib/firebase/firebase-4.6.0.min.js"></script>
    <script src="./login/config.js"></script>
    <script src="./login/functions.js"></script>

    <script>
        function newLogin() {
            app.login();
        };
    </script>

    <!-- Login's -->
    <script src="./components/login/app-field.js"></script>
    <script src="./components/login/app-container.js"></script>
    <script src="./components/login/app-login.js"></script>
    <script src="./components/login/app-forget-modal.js"></script>

    <!-- Dashboards -->
    <script src="./components/dashboards/app-admin.js "></script>
    <script src="./components/dashboards/app-advisor.js "></script>
    <script src="./components/dashboards/app-coordinator.js "></script>
    <script src="./components/dashboards/app-supervisor.js "></script>

    <!-- Common -->
    <script src="./components/page-dashboard/app-option.js "></script>
    <script src="./components/page-dashboard/app-dashboard.js "></script>
    <script src="./components/page-dashboard/app-dashboard-no-container.js "></script>

    <!-- Vue main -->
    <script src="./login/app.js"></script>
</body>

</html>