<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link href='../lib/fonts/fonts.css' rel="stylesheet"> -->
    <link href='../lib/fonts/material.css' rel="stylesheet">

    <link href="../lib/vuetify/vuetify-0.17.0.min.css" rel="stylesheet">
    <link href="../res/css/everything.css" rel="stylesheet">

    <title>Add Coordinators</title>
</head>

<body>
    <v-app id="app" v-cloak>

        <app-page-header></app-page-header>

        <app-dashboard title="Add coordinators">
            <v-form v-model="valid">
                <v-layout wrap>
                    <v-flex xs12>
                        <legend>Coordinator Information:</legend>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field label="Name" id="name" required :rules="nameRules" prepend-icon="person"></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field label="Email" id="email" required :rules="emailRules" prepend-icon="email"></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-select label="Majors" v-bind:items="majors" v-model="selectedMajors" prepend-icon="school" :rules="majorRules" multiple
                            chips required></v-select>
                    </v-flex>
                    <v-flex xs12>
                        <v-btn class="green white--text" @click="addCoord" :disabled="!valid">Add
                            <v-icon dark right>check_circle</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-form>
        </app-dashboard>

    </v-app>
    <script>
        function addCoord() {
            var name = $('#name').val();
            var email = $('#email').val();
            var majors = app.selectedMajors;
            var password = email;//temp

            createUser(email, password, "Coordinator");

            write2DB("advisors/" + email.split(".").join(" "), { name: name });

            write2DB("coordinators/" + email.split(".").join(" "), { name: name, majors: majors });

            // TBD
            setTimeout(function () {
                $('#name').val("");
                $('#email').val("");
                app.selectedMajors = [];
            }, 1500);
        }
    </script>

    <script src="../lib/vue/vue-2.5.3.min.js"></script>
    <script src="../lib/vuetify/vuetify-0.17.0.min.js"></script>

    <!-- Firebase -->
    <script src="../lib/firebase/firebase-4.6.0.min.js"></script>
    <script src="../firebase/config.js"></script>
    <script src="../firebase/functions.js"></script>

    <script src="../components/vuetify-dashboard/app-dashboard.js"></script>
    <script src="../components/vuetify-dashboard/app-page-header.js"></script>

    <script>
        app = new Vue({
            el: "#app",
            data() {
                return {
                    majors: [
                        "ICS", "SWE", "COE",

                        "ACCT", "AE", "ARC", "ARE", "CE", "CHE", "CHEM",
                        "CISE", "CP", "EE", "FIN", "GEOL", "GEOP", "ISE",
                        "MATH", "ME", "MGT", "MIS", "MKT", "PHYS", "STAT",
                    ],
                    selectedMajors: [],
                    valid: false,
                    nameRules: [
                        (v) => !!v || 'Name is required',
                        (v) => v.length <= 10 || 'Name must be less than 10 characters'
                    ],
                    emailRules: [
                        (v) => !!v || 'E-mail is required',
                        (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
                    ],
                    majorRules: [
                        (v) => v.length >= 1 || 'Majors are required',
                    ]
                }
            }
        });
    </script>

    <script src="../lib/jquery/jquery-3.2.1.min.js"></script>
</body>

</html>